<!DOCTYPE html>

<html lang="en">

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title>Exam | Question | INSIGHT PLUS | JEE MAINS - Mock Test</title>
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
      <!-- CSS Files -->
      <link href="../../css/bootstrap.min.css" rel="stylesheet" />
      <link href="../../css/light-bootstrap-dashboard.css" rel="stylesheet" />
      <style media="screen">
        .main-panel{
          width: 100%;
        }
        * {
          cursor: default;
          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome, Opera and Firefox */
        }
        .ipfld{
          cursor: default;
          -webkit-touch-callout: auto; /* iOS Safari */
            -webkit-user-select: auto; /* Safari */
             -khtml-user-select: auto; /* Konqueror HTML */
               -moz-user-select: auto; /* Old versions of Firefox */
                -ms-user-select: auto; /* Internet Explorer/Edge */
                    user-select: auto; /* Non-prefixed version, currently
                                          supported by Chrome, Opera and Firefox */
        }
        .round{
          width: 35px;
          height: 35px;
          display: block;
          border-radius: 50%;
          text-align: center;
          margin: 0px auto;
          padding-top: 5px;
          font-weight: bolder;
        }
        .col-3, .col-6{
          margin-bottom: 20px;
        }
        .green{
          color: white;
          background: rgb(66, 150, 77);
        }
        .blue{
          color: white;
          background: rgb(0, 108, 255);
        }
        .purple{
          color: white;
          background: rgb(153, 66, 210);
        }
        .red{
          color: white;
          background: rgb(233, 47, 0);
        }
        td{
          padding: 10px;
        }
      </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
          <div class="container-fluid">
            <a class="navbar-brand" href="#pablo"> INSIGHT PLUS | JEE MAINS MOCK TEST </a>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a id="btnFinish" class="nav-link" href="/user/finish/03026bbc133714df">
                    <span class="no-icon">Finish Exam</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8">
                <div class="card">
                  <div class="card-header">Section</div>
                  <div class="card-body">
                    <% if(data.qno <= 25){ %>
                      <a href="#" class="btn btn-fill btn-primary">Physics</a>
                      <a href="/user/qn/26" class="btn btn-primary">Chemistry</a>
                      <a href="/user/qn/51" class="btn btn-primary">Mathematics</a>
                    <% }else if(data.qno <= 50){ %>
                      <a href="/user/qn/1" class="btn btn-primary">Physics</a>
                      <a href="#" class="btn btn-fill btn-primary">Chemistry</a>
                      <a href="/user/qn/51" class="btn btn-primary">Mathematics</a>
                    <% }else{ %>
                      <a href="/user/qn/1" class="btn btn-primary">Physics</a>
                      <a href="/user/qn/26" class="btn btn-primary">Chemistry</a>
                      <a href="#" class="btn btn-fill btn-primary">Mathematics</a>
                    <% } %>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col-6">Question Number : <%= data.qno %></div>
                      <div class="col-6" style="text-align: right;">
                        Type :
                        <% if(data.qtype == 1){ %>
                          Multiple Choice Question
                        <% }else{ %>
                          Numeric
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <div class="card-body" style="margin-top: -35px !important;">
                    <hr>
                    <%- data.description %>
                    <% if(data.image != ''){ %>
                      <img src="../../uploads/<%= data.image %>" class="question-image" alt="question image can't preview">
                    <% } %>
                    <div style="margin-top: 30px;">
                      <span>Select Option</span>
                      <form id="formResponse" action="#" method="post" style="margin: 10px auto 10px auto;">
                        <% if(data.qtype == 1){ %>
                          <% if(user.ans[data.qno] == ''){ %>
                            <div>
                              <input type="radio" name="selopt" value="A" required> &nbsp;A &nbsp; &nbsp; &nbsp; &nbsp;
                              <input type="radio" name="selopt" value="B" required> &nbsp;B &nbsp; &nbsp; &nbsp; &nbsp;
                              <input type="radio" name="selopt" value="C" required> &nbsp;C &nbsp; &nbsp; &nbsp; &nbsp;
                              <input type="radio" name="selopt" value="D" required> &nbsp;D &nbsp; &nbsp; &nbsp; &nbsp;
                            </div>
                          <% }else{ %>
                            <% if(user.ans[data.qno] == 'A'){ %>
                              <div>
                                <input type="radio" name="selopt" value="A" checked required> &nbsp;A &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="B" required> &nbsp;B &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="C" required> &nbsp;C &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="D" required> &nbsp;D &nbsp; &nbsp; &nbsp; &nbsp;
                              </div>
                            <% }else if(user.ans[data.qno] == 'B'){ %>
                              <div>
                                <input type="radio" name="selopt" value="A" required> &nbsp;A &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="B" checked required> &nbsp;B &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="C" required> &nbsp;C &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="D" required> &nbsp;D &nbsp; &nbsp; &nbsp; &nbsp;
                              </div>
                            <% }else if(user.ans[data.qno] == 'C'){ %>
                              <div>
                                <input type="radio" name="selopt" value="A" required> &nbsp;A &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="B" required> &nbsp;B &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="C" checked required> &nbsp;C &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="D" required> &nbsp;D &nbsp; &nbsp; &nbsp; &nbsp;
                              </div>
                            <% }else{ %>
                              <div>
                                <input type="radio" name="selopt" value="A" required> &nbsp;A &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="B" required> &nbsp;B &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="C" required> &nbsp;C &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="selopt" value="D" checked required> &nbsp;D &nbsp; &nbsp; &nbsp; &nbsp;
                              </div>
                            <% } %>
                          <% } %>
                        <% }else{ %>
                          <% if(user.ans[data.qno] == ''){ %>
                            <input type="number" class="ipfld form-control" name="selopt" placeholder="Enter Numeric Answer" required>
                          <% }else{ %>
                            <input type="number" class="ipfld form-control" name="selopt" placeholder="Enter Numeric Answer" required value="<%= user.ans[data.qno] %>">
                          <% } %>
                        <% } %>
                      </form>
                    </div>
                    <hr>
                  </div>
                  <div class="container" style="padding-bottom: 10px;">
                    <% if(user.qstatus[data.qno] < 3) { %>
                      <div class="row">
                        <div class="col-3">
                          <a href="#" id="btnMark" class="btn btn-fill btn-success btn-block">Mark for Review & Next</a>
                        </div>
                        <div class="col-3">
                          <a href="#" id="btnClear" class="btn btn-fill btn-danger btn-block">Clear Response</a>
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3" style="text-align: right">
                          <a href="#" id="btnSave" class="btn btn-block btn-fill btn-info">Save & Next</a>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <div class="card-header">
                    <div class="row">
                      <div class="col">
                        <em><%= user.regno %></em> <br>
                        <em><%= user.name %></em>
                      </div>
                      <div class="col" style="text-align: right;">
                        <strong>Time Left : <span id="demo"></span></strong>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="container" style="background: rgb(247, 247, 248); padding-top: 20px; border-radius: 10px; padding-bottom: 40px;">
                      You viewing <strong><%= data.subject.charAt(0).toUpperCase()+data.subject.slice(1) %></strong> Section
                      <div style="margin-top: 30px;">
                        Question Palette
                        <div class="row" style="margin-top: 20px;">
                          <% if(data.subject == 'physics') { %>
                            <% var st = 1, en = 25; %>
                          <% }else if(data.subject == 'chemistry'){ %>
                            <% var st = 26, en = 50; %>
                          <% }else{ %>
                            <% var st = 51, en = 75; %>
                          <% } %>
                          <% for(var i = st; i <= en; i++) { %>
                            <div class="col-3">
                              <a href="/user/qn/<%= i %>">
                                <% if(user.qstatus[i] == 0){ %>
                                  <div class="round blue"><%= i %></div>
                                <% }else if(user.qstatus[i] == 1){ %>
                                  <div class="round red"><%= i %></div>
                                <% }else if(user.qstatus[i] == 2){ %>
                                  <div class="round purple"><%= i %></div>
                                <% }else{ %>
                                  <div class="round green"><%= i %></div>
                                <% } %>
                              </a>
                            </div>
                          <% } %>
                        </div>
                      </div>
                      <div style="margin-top: 10px;">
                        <strong>Legend</strong>
                        <table style="margin-top: 10px;">
                          <tr>
                            <td>
                              <span class="round green"></span>
                            </td>
                            <td>Answered</td>
                            <td>
                              <span class="round red"></span>
                            </td>
                            <td>Not Answered</td>
                          </tr>
                          <tr>
                            <td>
                              <span class="round purple"></span>
                            </td>
                            <td>Marked</td>
                            <td>
                              <span class="round blue"></span>
                            </td>
                            <td>Not Visited</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../../js/jquery.3.2.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      document.addEventListener('contextmenu', event => event.preventDefault());
      var now = new Date(`<%- user.start_time %>`);
      var threeHourLater = now.getTime() + (3*60*60*1000);

      // Set the date we're counting down to
      var countDownDate = new Date(threeHourLater).getTime();

      // Update the count down every 1 second
      var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          alert("Your Exam Time Expired");
          document.getElementById("btnFinish").click();
        }
      }, 1000);

      document.getElementById('btnMark').addEventListener('click', function() {
        var anForm = document.getElementById('formResponse');
        anForm.action = '/respond/mark';
        var ipQno = document.createElement('input');
        ipQno.type = 'number';
        ipQno.name = 'qno';
        ipQno.value = `<%= data.qno %>`;
        ipQno.style.display = 'none';
        anForm.appendChild(ipQno);
        var btnSubmit = document.createElement('input');
        btnSubmit.type = 'submit';
        btnSubmit.style.display = 'none';
        anForm.appendChild(btnSubmit);
        btnSubmit.click();
      })

      document.getElementById('btnClear').addEventListener('click', function() {
        console.log('Clicked on Clear');
      })

      document.getElementById('btnSave').addEventListener('click', function() {
        console.log('Clicked on Save');
      })
    </script>
  </body>
</html>
